@import "../HomePage/HomePage.module.scss";
.header {
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.SlideShow {
  width: 50%;
  top: 112px;
  left: 122px;
  border-radius: 5px;
  opacity: 1;
}

.HouseTitle {
  text-align: left;
  padding: 1rem;
  height: 7vh;
  font: Bold 1.6rem Arial;
  letter-spacing: 0px;
  color: #30281e;
}
.similarHouseTitle {
  text-align: center;
  padding: 1rem;
  height: 7vh;
  font: Bold 1.6rem Arial;
  letter-spacing: 0px;
  color: #30281e;
}
.HouseDetails {
  top: 586px;
  left: 122px;
  border: 2px solid var(--unnamed-color-c69963);
  background: #dcd5d566 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 50vh;
  box-sizing: border-box;
}
.HouseDesc {
  top: 586px;
  left: 122px;
  height: 43vh;
  border: 2px solid var(--unnamed-color-c69963);
  background: #dcd5d566 0% 0% no-repeat padding-box;
  opacity: 1;
  box-sizing: border-box;
}
.Details {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 4rem;
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: #30281e;
  opacity: 1;
  padding-left: 1rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}
.HouseBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.SlideBtn {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.HouseButton {
  position: relative;
  height: 41px;
  background: var(--unnamed-color-c69963) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-707070);
  background: #c69963 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}
.PhotoIcon {
  height: 19px;
  background: transparent url("../../assets/images/iconfinder_33_111001.svg") 0%
    0% no-repeat padding-box;
}
.BtnText {
  height: 25px;
  margin-left: 20px;
  text-align: right;
  font-size: 1.6rem;
  letter-spacing: 0px;
  color: #ebe7e7;
  opacity: 1;
}
.otherDesc {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  background: #dcd5d566 0% 0% no-repeat padding-box;
}
.OtherDetails {
  border: 2px solid #c69963;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.FullInfos {
  width: 20%;
  margin: 1rem auto;
}

@media (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .HouseDetails {
    margin-right: 0;
  }
  .HouseBtn {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .SlideBtn {
    width: 90%;
  }
  .otherDesc {
    width: 90%;
  }
  .FullInfos {
    width: 100%;
    margin: 1rem auto;
    font-size: 1.4rem;
  }
}
@media (max-width: 350px) {
  .HouseDesc {
    height: 53vh;
  }
  .HouseDetails {
    height: 60vh;
  }
}
