@import "../../sass/grid";

.House {
  top: 7rem;
  left: 0;
  margin: 7rem auto;
}

.HouseForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-content: space-around;
}
.LabelField {
  padding: 0.6rem 1rem;
  width: 68%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-light-2);
  grid-gap: 0.5rem;
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
	box-sizing: border-box;
	margin-top: 1rem;
}
.FilesInput {
  display: block;
  width: 68%;
  margin: 0 auto;
  padding: 0.6rem 1.6rem;
	margin-top: 2rem;
	box-sizing: border-box;
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-light-2);
  font-size: 1.6rem;
}
.HouseButton {
  width: 30%;
  margin: 3rem auto;
}
.PrimaryHeading {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.PrimaryHeading:hover {
  transform: skewY(2deg) skewX(7deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(var(--color-secondary), 0.2);
}
@media (max-width: 600px) {
  .HouseForm {
    display: grid;
    grid-template-columns: 1fr;
  }
  .FilesInput {
    display: block;
    width: 90%;
  }
  .LabelField {
    width: 90%;
  }
}
