.Logo {
	padding: .8rem;
	height: 100%;
	box-sizing: border-box;
	border-radius: .3rem;
}
.Logo:hover{
	background-color: var(--color-primary-dark);
}

.Logo img {
	height: 100%;
}
.Name{
	font-size: 1.5rem;
	color: white;
	margin-top: -3rem;
	margin-left: 3.9rem;
}