.Input {
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
}

.InputElement {
	outline: none;
	font-size: 1.6rem;
	border: none;
	background-color: var(--color-grey-light-1);
	padding: .6rem 1rem;
	display: block;
	width: 70%;
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: .3rem;
}
.InputElement::placeholder {
  color:var(--color-grey-light-2)
}

.InputElement:focus {
	outline: none;
	background-color: white;
	border-bottom: 1px solid var(--color-secondary);
}

.Invalid {
	border: 1px solid red;
	background-color: #FDA49A;
}
@media (max-width: 600px) {
	.InputElement{
		width: 95%;
	}
}