:root {
   /* COLOR VARIABLES */
--color-primary: #c69963;
--color-primary-dark: #B28451;
--color-secondary: #101d2c;
--color-tertiary:#f7f7f7;
--color-white:#fff;

--color-grey-light-1: #f9f7f6;
--color-grey-light-2: #aaa;

--color-grey-dark-1: #54483A;
--color-grey-dark-2: #6D5D4B;
--gutter-horizontal:6rem;
}
@import './sass/main.scss';

html{
  font-size: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
